[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
drf-nested-routers = "*"
pillow = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"
model-bakery = "*"

[requires]
python_version = "3.11"
